@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap')

// Update Bulma's global variables
$family-sans-serif: "Fira Code", monospace
$family-monospace: "Fira Code", monospace
$footer-padding: 1.0rem 2.5rem

html
    scroll-behavior: smooth

body
    font-family: $family-sans-serif
    display: flex
    flex-direction: column
    min-height: 100vh


section
    flex: 1

// Bulma only sets the code font on code and pre.
kbd,
samp
    font-family: $family-monospace

@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "form/_all"
@import "components/_all"
@import "grid/_all"
@import "helpers/_all"
@import "layout/_all"
