{% extends "DeepThought/templates/base.html" %}
{% block footer %}
    <!-- <footer class="footer py-4"> -->
    <!--     <div class="content has-text-centered"> -->
    <!--         <p> -->
    <!--             Built with -->
    <!--             <span class="icon-text"> -->
    <!--                 <span class="icon"> -->
    <!--                     <i class="fas fa-code"></i> -->
    <!--                 </span> -->
    <!--                 <span>code</span> -->
    <!--             </span> -->
    <!--             and -->
    <!--             <span class="icon-text"> -->
    <!--                 <span class="icon"> -->
    <!--                     <i class="fas fa-heart"></i> -->
    <!--                 </span> -->
    <!--                 <span>blood</span> -->
    <!--             </span> -->
    <!--         </p> -->
    <!--     </div> -->
    <!-- </footer> -->
{% endblock %}
